/* .sidebar_link_div .link .nav-link { */
    /* display: flex; */
    /* flex-direction: row; */
    /* align-items: center; */
    /* justify-content: space-between; */
    /* padding: 100px; */
    /* border: 2px solid red; */
/* } */

/* .nav_classs_custom {
    display: flex;
    flex-direction: row;
    border: 2px solid black;
} */


/* .nav-link {

    display: flex;
    flex-direction: row;
}

.nav-link svg {

    display: flex;
    flex-direction: row;
} */